/* #region generale */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --colorPrimary:#E47911;
  --colorPrimaryDark:#82440b;
  --colorSecondary:#0066c0;
  --colorBlack:#111;
  --colorBlueGrey:#232f3e;
}
a{
  text-decoration: none;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{list-style: none;}

.container{
  margin : 0 5%auto ;
}
.header {
  background-color: #282c34;
  color: white;
}
.footer {
  background-color: #282c34;
  height:25vh;
  color: white;
}
.header >div{
  display: flex;
}
.header a{
  color: white;
  display: block;
  line-height: 2.6em;
  margin-right: 1rem;

}

.err{
  padding: .25rem 1rem;
  background-color: red;
  font-size: .8rem;
  color: #fff;
}
.btn{
  padding: .25rem 1rem;
  background-color: var(--colorPrimary);
  border: 1px solid var(--colorPrimaryDark) ;
  transition:all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-grey{
  color:var(--colorPrimary);
  padding: .25rem 1rem;
  background-color: var(--colorBlueGrey);
  border: 1px solid var(--colorBlack) ;
  transition:all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn-grey:hover{
  color: #fff;
  border: 1px solid  #fff;
}
.btn:hover{
 color: #fff;
 border: 1px solid  #fff;
}
.btn:focus{
 outline: none;
}

/* #endregion */

/* #region routes  */
.page{
  min-height: 100vh;
}
.shop{
display: flex;
}
.cart{
  margin-top: 2rem;
  padding: 0 .5rem;
  flex: 1;
}
.products{
 flex: 4;
}
.products__wrapper{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.products__header{
  display: flex;
  margin-top: 1rem;
  border-bottom:1px solid  var(--colorPrimaryDark);
}
.products__count{
   margin-right: 1rem;
   color: var(--colorBlueGrey);
}
.products__count span{
  color: var(--colorPrimary);

}
/* #endregion */

/* #region filter bar  */
.products__filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__filter__group{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.products__filter__group select{
  border:1px solid  var(--colorPrimaryDark);
  color:var(--colorPrimaryDark);
}
.products__filter__group option{
  color:var(--colorPrimaryDark);
}
.products__filter__group p{
  color: var(--colorBlueGrey);
  margin-right: .5rem;
}
/* #endregion*/

/* #region productItem  */
.productItem{
  position: relative;
  flex: 1;
  top:50px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  padding: 1rem;
  margin-right: .25rem;
  margin-bottom: .25rem;
  margin-top: .25rem;
  border:1px solid var(--colorPrimaryDark);
  animation: productFadeIn .5s ease-out forwards;
}



.productItem__title{
  font-size: 1.25rem;
  line-height: 2.6em;
  letter-spacing: 2px;
  color: var(--colorBlack);
}
.productItem__description{
  font-size: 1rem;
}
.productItem__image{
  width: 200px;
  height:200px;
  overflow: hidden;
  align-self: center;
}
.productItem__image img{
  width: 100%;
}

.productItem__sizes {
  display: flex;
  align-items: center;
}
.productItem__sizes p{
  font-size: 1rem;
}
.productItem__sizes ul{
   display: flex;
}
.productItem__sizes ul li{
   margin: 1rem;
   font-size: .9rem;
}

.productItem__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productItem__bottom p{
  color: var(--colorBlueGrey);
  font-weight: bold;
}
/* #endregion  */

/* #region cartItem  */
.cartItem{
  position: relative;
  top:50px;
  opacity: 0;
  animation: productFadeIn .5s ease-out forwards;
  display: flex;
}
.cartItem > div{
  display: flex;
  align-items: center;
}
.cartItem > div:last-child{
  flex-direction: column;
}
.cartItem__title{
  font-size: 1rem;
  font-weight: bold;
  color: var(--colorBlueGrey);
}

.cartItem__price{
  font-size: .8rem;
}

.cartItem__image{
  width: 70px;
  height:70px;
  overflow: hidden;
  align-self: center;
}
.cartItem__image img{
  width: 100%;
}
.cart__checkout{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .9rem;
  color: var(--colorBlueGrey);
}
.cart__checkout span{
  font-weight: bold;
  margin-right: 1rem;
}
/* #endregion  */
/* #region checkout form  */
.form{
  width: 100%;
  position: relative;
  top:50px;
  opacity: 0;
  animation: productFadeIn .5s ease-out forwards;
}
.form input{
  width: 100%;
  padding: .5rem;
  margin-top: 1rem;
  color : var(--colorPrimaryDark);
  border: 1px solid var(--colorPrimaryDark);
}


/* #endregion  */

@keyframes productFadeIn {
  100%{
    top:0;
    opacity: 1;
  }
}